<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Puppy name: <%= @new_pup.name %></h2>
    <h2>Puppy breed: <%= @new_pup.breed %></h2>
    <h2>Puppy age: <%= @new_pup.age %></h2>
  </body>
</html>
