<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Puppy Name: <br><%= @new_pup.name %></p>
    <p>Puppy Breed: <br><%= @new_pup.breed %></p>
    <p>Puppy Age: <br><%= @new_pup.age %></p>
  </body>
</html>
